# Discord Bot Configuration
DISCORD_TOKEN=
DISCORD_APP_ID=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=
DISCORD_ROLE_ID=

# reCAPTCHA
RECAPTCHA_SECRET=
VITE_RECAPTCHA_SITE_KEY=

# Site
VITE_SITE_URL=https://rotki.com
PORT=4000

# Redis (optional - if empty, filesystem store is used)
REDIS_HOST=
REDIS_PASSWORD=
